
.enuso {
    color: blue;
}

.hipervinculos {
    color: white;
    text-decoration: none;
    font-family: 'pacifico', 'cursive';
    font-weight: bolder;
    font-size: 30px;
    padding: 30px;
}

.navbarbrand {
    color: white;
    font-size: 5px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid white;
}

body {
    background-color: skyblue;
    color: rgb(14, 14, 83);
}