body {
    background-color: skyblue;
    color: rgb(14, 14, 83);
}


.card:hover {
    transform: translateY(15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card {
    width: 330px;
    height: 600px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    display: inline-block;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 35px;
}


.card img {
    width: 330px;
    height: 220px;
}

.leermas {
    font-size: large;
    font-family: "pacifico""cursive";
    color: rgb(14, 14, 83);
}

.leermas:hover {
    color: whitesmoke;
}


iframe {
    margin-top: 60px;
    margin-left: 29%;
    align-items: center;
}