@media only screen and (max-width: 700px) {

    .menu-btn {
        display: block;
    }

    .nav-main {
        display: block;
        position: absolute;
        top: 0;
        left: 0px;
        background: #222681;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
    }

    .SHOWCASE {
        display: none;
    }

    iframe {
        align-items: center;
        text-align: center;
        margin: auto;
        width: 80%;
        padding-top: 100px;
        display: flex;
    }
}