body {
    background-color: skyblue;
    color: rgb(14, 14, 83);
}

fieldset {
    margin-top: 30px;
    font-family: "pacifico";
    font-weight: bold;
    text-align: center;
    font-size: larger;
}

legend {
    font-size: xx-large;
    font-family: "pacifico";
}